.materialize_jumbo{
	width: 100%;
	height:450px;
	position: relative;
}

form{
	padding-bottom: 10px !important;
}

.searchbar{
	padding:0px !important;
	position: relative;
	display: flex;

}

.item-pagination{
	margin: 0px !important;
    /* height: 15px !important; */
    margin-top: 0px !important;
    padding: 2px !important; */
    height: 20px !important; */
    margin: 0px !important;
    position: absolute;
    bottom: 0px !important;
    background-color: #2f4358 !important;
    width: 100% !important;
}

.item-page{
	margin-top: 5px !important;
}

#navbar-drop{
	margin-top: 10px !important;
	height: 45px !important;
	text-align: right !important;
}

#user-dropdown{
	padding: 0px !important;
	vertical-align: middle;
}

#dropdown-btn{
	padding-left: 0px !important;
	padding-right: 0px !important;
}

.searchbar input{
	margin:0px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	width:100% !important;
	border:0px transparent !important;
	background-color: #717d8a !important;
	border-radius: 0px !important;
	margin-top: 10px !important;
}

.searchbar input:focus{
	border-bottom: 0px transparent solid !important;
	box-shadow: 0 1px 0 0 transparent !important;
}

.loader-img{
	width: 10px !important;
	height: 10px !important;
	margin-top:5px !important;
}

.searchbar .search-icon{
	cursor: pointer;
	font-size: 24px !important;
}

.page-container{
	position: fixed;
	bottom: 10px !important;
	text-align: center;
}

.btn{
	border-radius: 0px !important;
	margin-bottom:5px !important;
}

.header2{
	font-size: 1.1rem;
    font-weight: 400;
    text-transform: uppercase;
}

.materialize_jumbo img{
	width:100%;
	height:100%;
}

.materialize_jumbo .btns{
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#loginModal{
	width: 400px !important;
}

#registerModal{
	width: 500px !important;
}

.modal-header{
	margin-top: 10px !important;
}

#search_form{
	height: 50px !important;
}

#search_form .input-field{
	margin-top: 0px !important;
}

#mainCarousel{
	width: 100% !important;
	height: 100vh !important;
	position: relative;
	margin: 0px !important;
	overflow: hidden !important;
}

#mainNav{
	position:absolute !important;
	top:0px !important;
}

.genie-carousel{
	width: 100% !important;
	height: 100vh !important;
	background-image: url('../images/1.jpg');
	background-size:100% 100vh;
}

#toast-container{
	top: 0% !important;
  	right: auto !important;
  	left:35%; 
}


#home_nav{
	background-color: transparent;
}

#forms{
	position: absolute;
	left: 35%;
	width: 390px !important;
	height: 441;
	top:10%;
	z-index: 100 !important;
	perspective: 1000px;
}

.translucent{
	background-color: rgba(255,255,255,0.5) !important;
}

.innerForm{
	padding: 20px !important;
}

#forms form{
	margin-left: auto;
	margin-right: auto;
	padding:0px !important;
	padding-top: 0px !important;
	border-radius: 3px;
}

.progress{
	margin:0px !important;
}

.note{
	margin-top: 50px !important;
	position: relative;
	height: 40px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	padding: 10px !important;
}

#forms label{
	padding-left: 10px !important;
	height: 25px !important;
}

#forms h5{
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	color: #faffbd;
}

#forms form input{
	z-index: 300px !important;
	height: 35px !important;
	padding-left: 10px !important;
	background-color: #faffbd;
	color:black;
}

#activityModal textarea,#EditBucketlist textarea{
	height:250px !important;
}

#activityModal .btn{
	margin-bottom:10px !important;
}

#activityModal input[type=text]{
	height: 30px !important;
	margin-bottom: 5px !important;
}

.brand-logo{
	font-size: 18px !important;
	text-transform: uppercase;
}

#loginForm_area{
	height: auto;
}

.listtitle{
	font-size:15px !important;
}

/*flip speed */
.flipper{
	transition: 0.6s;
	position: relative;
	transform-style: preserve-3d;
}

/*add backs of panes*/
#loginForm_area, #registerForm_area{
	backface-visibility: hidden;
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}

/*place front pane above back*/
#loginForm_area{
	transform: rotateY(0deg);
}

/*initially hide back pane*/
#registerForm_area{
	transform: rotateY(180deg);
}

.flip{
	transform: rotateY(180deg);
}

.material-icons{
	font-size:15px !important;
	cursor: pointer;
}

#view-result .modal-content .card{
	margin:0px !important;

}

.bk_card{
	max-height: 325px !important;
	min-height: 325px !important;
}

#view-result .modal-content{
	padding:0px !important;
}

#view-result .bkitems{
	padding:0px !important;
	margin-bottom: 0px !important;
}

#view-result{
	width: 300px !important;
	padding:0px !important;
}

.search-result{
	padding:5px !important;
	margin:5px !important;
	background-color: #fafafa !important;
	border-radius: 2px !important;
	font-size: 13px !important;
    font-weight: bold;
    color: #5b5d5f;
    text-transform: capitalize;
    text-overflow: ellipsis;
    line-height: 16px !important;font-size;
    border-bottom:1px solid #bbb8b8 !important;

}

.search-results{
	height:0px auto;
	position: absolute !important;
	top:100% !important;
	z-index: 100;
	width:100% !important;
	background-color: #fafafa !important;
}

.items{
	margin-top:5px;
	margin-bottom: 5px;
	border: 1px solid #e2e2e2;
	padding:5px !important;
	min-height:65px !important;
	height: auto !important;
	background-color: #fafafa !important;
	border-radius: 2px !important;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 2px 0 rgba(0,0,0,.12);
	padding-bottom:20px !important;
}

.dropdown_icon{
	display: block;
	font-weight: bolder;
}

.dropdown_icon:hover{
	color:red;
}

.activate_dropdown{
	color:red !important;
}

.over_flow_button{
	position: relative;
	z-index: 100;
}

.overflow_content{
	position: absolute;
	top:-5px;
	visibility: hidden;
	transition: all .25s ease;
}

.over_flow_button:hover .overflow_content {
    opacity: 1;
    top: 5px;
    visibility: visible;
}

.items:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.12) !important;
	background-color:#e8e5e5 !important;
	transition-delay: 0.3ms;
}



nav{
	background-color: #243a51 !important;
}

.item_name{
	font-size: 13px !important;
	font-weight: bold;
	color:#5b5d5f;
	text-transform: capitalize;
	text-overflow: ellipsis;
	line-height: 16px !important;
}

.bkitems{
	width: 100%;
	padding:5px !important;
	margin-bottom: 0px !important;
	margin-top: 0px !important;
	padding-top:1px !important;
}
.collection-item{
	padding:5px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.modal{
	width: 30% !important;
}

#topNave{
	display: block !important;
}

.card .card-content{
	padding:0px !important;
}

.about{
	font-size:12px !important;
}

.complete_status{
	display: block;
	font-size:8px;
	font-weight: bold;
	line-height: 10px !important;
	margin-top:15px !important;
	color: #85888c;
}

.loader{
	position: absolute;
	top:50% !important;
	left:45% !important;
	z-index: 100;
}

.pending{
	color:#5B4205 !important;
}

.success{
	color: #168D39 !important;
}

.card-title{
	font-size: 20px !important;
	background-color: #2f4358 !important;
	height:80px !important;
	margin-bottom: 0px !important;
	color:white !important;
	padding:10px !important;
}

.loading_summon{
	font-size:13px !important;
	font-weight: bold;
	color:#368BC1 !important;
}

.page{
	cursor: pointer;
	float:left !important;
	padding:5px !important;
	margin:2px !important;
	height: 28px !important;
	min-width: 35px !important;
	text-align: center !important;
	border:1px solid #e2e2e2 !important;
	border-radius:3px !important;
	background-color: #fafafa !important;
	font-size: 13px !important;
    font-weight: bold;
    color: #5b5d5f;
    text-transform: capitalize;
    text-overflow: ellipsis;
    line-height: 16px !important;
}

.page:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.12) !important;
	background-color:#e8e5e5 !important;
	transition-delay: 0.3ms;
}