.materialize_jumbo{
	width: 100%;
	height:450px;
	position: relative;
}

.btn{
	border-radius: 0px !important;
}

.materialize_jumbo img{
	width:100%;
	height:100%;
}

.materialize_jumbo .btns{
	position: absolute;
	bottom: 10px;
	width: 100%;
}

#loginModal{
	width: 400px !important;
}

#registerModal{
	width: 500px !important;
}

.modal-header{
	margin-top: 10px !important;
}

#search_form{
	height: 50px !important;
}

#search_form .input-field{
	margin-top: 0px !important;
}

#mainCarousel{
	width: 100% !important;
	height: 100vh !important;
	position: relative;
	margin: 0px !important;
	overflow: hidden !important;
}

#mainNav{
	position:absolute !important;
	top:0px !important;
}

.genie-carousel{
	width: 100% !important;
	height: 100vh !important;
	background-image: url('../images/1.jpg');
	background-size:100% 100vh;
}

#toast-container{
	top: 0% !important;
  	right: auto !important;
  	left:35%; 
}


#home_nav{
	background-color: transparent;
}

#forms{
	position: absolute;
	left: 35%;
	width: 390px !important;
	height: 441;
	top:10%;
	z-index: 100 !important;
	perspective: 1000px;
}

.translucent{
	background-color: rgba(255,255,255,0.5) !important;
}

.innerForm{
	padding: 20px !important;
}

#forms form{
	margin-left: auto;
	margin-right: auto;
	padding:0px !important;
	padding-top: 0px !important;
	border-radius: 3px;
}

.progress{
	margin:0px !important;
}

.note{
	margin-top: 50px !important;
	position: relative;
	height: 40px !important;
	border-radius: 3px !important;
	font-size: 13px !important;
	padding: 10px !important;
}

#forms label{
	padding-left: 10px !important;
	height: 25px !important;
}

#forms h5{
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	color: #faffbd;
}

#forms form input,#activityModal form input{
	z-index: 300px !important;
	height: 35px !important;
	padding-left: 10px !important;
	background-color: #faffbd;
	color:black;
}

#loginForm_area{
	height: auto;
}

/*flip speed */
.flipper{
	transition: 0.6s;
	position: relative;
	transform-style: preserve-3d;
}

/*add backs of panes*/
#loginForm_area, #registerForm_area{
	backface-visibility: hidden;
	position: absolute !important;
	top: 0px !important;
	left: 0px !important;
}

/*place front pane above back*/
#loginForm_area{
	transform: rotateY(0deg);
}

/*initially hide back pane*/
#registerForm_area{
	transform: rotateY(180deg);
}

.flip{
	transform: rotateY(180deg);
}

.material-icons{
	font-size:15px !important;
	cursor: pointer;
}

.items{
	margin-top:5px;
	margin-bottom: 5px;
	border: 1px solid #e2e2e2;
	padding:5px !important;
	min-height:60px !important;
	height: auto !important;
	background-color: #fafafa !important;
	border-radius: 2px !important;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 2px 0 rgba(0,0,0,.12);
	padding-bottom:20px !important;
}

.dropdown_icon{
	display: block;
	font-weight: bolder;
}

.dropdown_icon:hover{
	color:red;
}

.activate_dropdown{
	color:red !important;
}

.over_flow_button{
	position: relative;
	z-index: 100;
}

.overflow_content{
	position: absolute;
	top:-5px;
	visibility: hidden;
	transition: all .25s ease;
}

.over_flow_button:hover .overflow_content {
    opacity: 1;
    top: 5px;
    visibility: visible;
}

.items:hover{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 4px 0 rgba(0,0,0,.12) !important;
	background-color:#e8e5e5 !important;
	transition-delay: 0.3ms;
}



nav{
	background-color: #243a51 !important;
}

.item_name{
	font-size: 13px !important;
	font-weight: bold;
	color:#5b5d5f;
	text-transform: capitalize;
	text-overflow: ellipsis;
	line-height: 16px !important;
}

.bkitems{
	width: 100%;
	padding:5px !important;
	margin-top: 0px !important;
	padding-top:1px !important;
}
.collection-item{
	padding:5px !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
}

.modal{
	width: 30% !important;
}

.card .card-content{
	padding:0px !important;
}

.about{
	font-size:12px !important;
}

.complete_status{
	display: block;
	font-size:8px;
	font-weight: bold;
	line-height: 10px !important;
	margin-top:15px !important;
	color: #85888c;
}

.pending{
	color:#5B4205 !important;
}

.success{
	color: #168D39 !important;
}

.card-title{
	font-size: 20px !important;
	background-color: #2f4358 !important;
	height:80px !important;
	margin-bottom: 0px !important;
	color:white !important;
	padding:10px !important;
}